input[type=text] {
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
  }


  .frm{
    margin: auto;
    width: fit-content;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .instruction{
    width: auto;
    position: absolute;
    top: 0px;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    text-justify: inter-word;
    /* border: 3px solid green; */

  }

  .heading-h1{
    text-align: center;

  }

  .table1{
    
    width: 100%;
  }

  td{
    width: 50%;
  }


  .Dictaphone-css{
    position: absolute;
    margin-top: 50px;
    width: 80%;
    min-height: 200px;
    border: 3px solid red;
    padding-right: 5px;
    padding-left: 5px;
  }

